.holder{
    --translateX: 0;
    --translateY: 0;
    --onie: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: auto;
    clip-path: var(--onie);
    animation: yeet 1.5s ease 2s 1 forwards;
}
.holder.niewidac{
    visibility: hidden ;
}
.slowa{
    font-family: American Typewriter, serif;
    font-size: 150px;
    line-height: 1;
    margin: 0;
}
.litera.widac{
    display: inline-block;
    margin: 0;
    color: rgb(255, 255, 255);
    transform: translateX(0px);
    font-variant: small-caps;
    font-weight: bolder;
}
.litera{
    display: inline-block;
    --delay: 0.5s;
    margin: 0;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-weight: bolder;
    transform: translateY(110%);
    animation: wychodzenie 1s ease forwards;
    animation-delay: var(--delay);
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.39,.97,.68,1.46);
}

@keyframes wychodzenie{
    from{
        transform: translateY(110%);
    }
    to{
        transform:  translateY(0px);
    }
}

@keyframes yeet {
    50%{
        transform: rotate(-45deg);
    }
    to{
        transform: translate(var(--translateX),var(--translateY)) rotate(-45deg);
        visibility: hidden;
    }
}


