*{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif1;
}
body{
    /* rgb(29, 26, 37) */
    background-color: rgb(20, 14, 37);
    background-image: linear-gradient(to top,rgba(255, 255, 255, 0.04), transparent);
}
.Glowne{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    color: white;
    font-size: 30px;
    /* background-color: rgba(80, 77, 77, 0.1);
    border-radius: 20px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2); */
    width: 50%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 25%;
    text-align: center;
    align-content: center;
    text-shadow:0 0 10px white ;
}
span{
    color: rgb(125, 190, 147);
    text-shadow: 0 0 10px ;
}
.chmury{
    z-index: 1;
    position: absolute;
    width: 800px;
    height: 400px;
    clip-path: path("M 0 0 L 720 0 Q 720 60, 620 100 Q 540 220, 370 180 Q 320 270, 170 260 Q 120 370, 0 370 Z");
    transition: clip-path 1.5s ease, width 1.5s ease, height 1.5s ease, z-index 1.5s ease;
}
#Graphic{
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
.strony{
    --sciezka: path("M 0 0 L 700 0 Q 700 50, 600 80 Q 520 200, 350 150 Q 300 250, 150 240 Q 110 350, 0 350 Z");
    --szerok:800px;
    --wysok:400px;

    z-index: 1;
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: path("M 0 0 L 720 0 Q 720 60, 620 100 Q 540 220, 370 180 Q 320 270, 170 260 Q 120 370, 0 370 Z");
    transition: clip-path 1.5s ease, width 1.5s ease, height 1.5s ease, z-index 1.5s ease;
}
.strony::before{
    content: " ";
    position: absolute;
    top: 0;
    width: var(--szerok);
    height: var(--wysok);
    clip-path: var(--sciezka);
    transition: clip-path 1.5s ease, width 1.5s ease, height 1.5s ease, z-index 1.5s ease;
}
#GL{
    top: 0;
    left: 0;
}
#GL::before{
    background-color: rgb(86, 212, 160);
}
#GP{
    top: 0;
    right: 0;
    transform: rotateY(180deg);
}
#GP::before{
    background-color: rgb(102, 39, 202);
}
#DP::before{
    background-color: aliceblue;
}
.naglowki{
    opacity: 1;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 70px;
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 3%;
    transition: top 1.5s ease, left 1.5s ease;
}
.chmury p:not(.naglowki){
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.2s ease 1s;
}