*{
    margin:0;
}
body{
    /* rgb(29, 26, 37) */
    background-color: rgb(10, 7, 19);
}
.Glowne{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}
main{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif1;
    /* background-color: rgba(80, 77, 77, 0.1); */
    /* border-radius: 20px; */
    /* box-shadow: 20px 20px rgba(0, 0, 0, 0.2); */
    width: 50%;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 25%;
    text-align: center;
    align-content: center;
    text-shadow:0 0 10px white ;
}
span{
    color: rgb(125, 190, 147);
    text-shadow: 0 0 10px ;
}
#GL{
    position: absolute;
    top: 0;
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: path("M 0 0 L 720 0 Q 720 60, 620 100 Q 540 220, 370 180 Q 320 270, 170 260 Q 120 370, 0 370 Z");

}
#GL::before{
    content: " ";
    position: absolute;
    top: 0;
    width: 800px;
    height: 400px;
    background-color: rgb(86, 212, 160);
    clip-path: path("M 0 0 L 700 0 Q 700 50, 600 80 Q 520 200, 350 150 Q 300 250, 150 240 Q 110 350, 0 350 Z");
}
#GP{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: path("M 0 0 L 720 0 Q 720 60, 620 100 Q 540 220, 370 180 Q 320 270, 170 260 Q 120 370, 0 370 Z");
}
#GP::before{
    content: " ";
    position: absolute;
    top: 0;
    width: 800px;
    height: 400px;
    background-color: rgb(102, 39, 202);
    clip-path: path("M 0 0 L 700 0 Q 700 50, 600 80 Q 520 200, 350 150 Q 300 250, 150 240 Q 110 350, 0 350 Z");
}