.poczatekTekst{
    margin: 0 auto;
    width: 50vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
}

.poczatekTlo{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 7, 7);
    animation: poof 0.5s linear 2.7s 1 forwards;
    z-index: 10;
    overflow: hidden;
}

@keyframes poof {
    to{
        opacity: 0;
    }
}