.holdery{
    --translateX: 0;
    --translateY: 0;
    --onie: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: auto;
    clip-path: var(--onie);
}
.litera{
    display: inline-block;
    --delay: 0s;
    margin: 0;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
}
.litera:hover{
    scale: 1.2;
}
