:root {
  /* Georgia, serif */
  /* American Typewriter, serif */
  /* Verdana, sans-serif */
  font-family: Verdana, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(226, 222, 218);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
body {
  margin: 0;
  /* display: flex; */
  width: 100vw;
  /* min-width: 320px; */
  min-height: 100vh;
}